# VibeStream root gitignore
.gitignore
.env
__pycache__/
*.py[cod]
.venv/
env/
*.swp
.DS_Store
/.idea
/.vscode
# archivos
# Ignorar archivos de entorno
.env
# Ignorar archivos de entorno específicos de servicios
backend/auth-service/.env
backend/artist-service/.env
backend/content-service/.env
backend/history-service/.env
backend/playlist-service/.env
backend/streaming-service/.env
backend/search-service/.env
backend/subscription-service/.env

# Ignorar entornos virtuales de Python
**/.venv/
**/venv/
**/__pycache__/
backend/artist-service/artist
backend/auth-service/auth
backend/content-service/content
backend/history-service/history
backend/playlist-service/playlist
backend/streaming-service/streaming
backend/search-service/search
backend/subscription-service/subscription

#ignorar carpetas de __pycache__
backend/artist-service/__pycache__/
backend/auth-service/__pycache__/
backend/content-service/__pycache__/
backend/history-service/__pycache__/
backend/playlist-service/__pycache__/
backend/streaming-service/__pycache__/
backend/search-service/__pycache__/
backend/subscription-service/__pycache__/

# Claude Code internal files
.claude/

# Artefactos de build de paquetes Python editables
*.egg-info/
